In [73]:
import pandas as pd
import statistics

data = {
    "Std_Name" : ["Gajendra Gangwar", "Mohan", "Ravan", "Ashur", "Daitya"],
    "Roll_no" : [81, 82, 86, 84, 89],
    "CPI" : [85, 50, 45, 90, 59],
}

df = pd.DataFrame(data)
print(df)

print("\nAll rows with CPI greater then 60 : ")
filter_df = df[df['CPI'] > 60]

print(filter_df)

total_member = len(df)
print(f"\ntotal member : {total_member}")


CPI_col = df["CPI"]
print(CPI_col)

print(f"mean of CPI : {statistics.mean(CPI_col)}")
print(f"median of CPI : {statistics.median(CPI_col)}")
print(f"standard deviation of CPI : {round(statistics.stdev(CPI_col), 2)}")

           Std_Name  Roll_no  CPI
0  Gajendra Gangwar       81   85
1             Mohan       82   50
2             Ravan       86   45
3             Ashur       84   90
4            Daitya       89   59

All rows with CPI greater then 60 :
           Std_Name  Roll_no  CPI
0  Gajendra Gangwar       81   85
3             Ashur       84   90

total member : 5
0    85
1    50
2    45
3    90
4    59
Name: CPI, dtype: int64
mean of CPI : 65.8
median of CPI : 59
standard deviation of CPI : 20.51

In [91]:
import pandas as pd

IIITG_Library = {
    "Subjects" : ["Math1", "Math2", "Math3", "Math4", "Math1"],
    "Book_Authers" : ["A", "B", "C", "D", "E"],
    "No_of_Books" : [5, 3, 2, 6, 1],
}

df = pd.DataFrame(IIITG_Library)
print(df)

total_books_per_subject = df.groupby('Subjects')['No_of_Books'].sum().reset_index()

print(total_books_per_subject)

  Subjects Book_Authers  No_of_Books
0    Math1            A            5
1    Math2            B            3
2    Math3            C            2
3    Math4            D            6
4    Math1            E            1
  Subjects  No_of_Books
0    Math1            6
1    Math2            3
2    Math3            2
3    Math4            6

In [97]:
import numpy as np
import pandas as pd
from PIL import Image

image = Image.open('./abc.png')
image_array = np.array(image)

if len(image_array.shape) == 3:
    df_image = pd.DataFrame(image_array.reshape(-1, 3))
else:
    df_image = pd.DataFrame(image_array)

df_image.to_csv('image_pixel_data.csv', index=False)

print("Image data has been saved to 'image_pixel_data.csv'.")

df_loaded = pd.read_csv('image_pixel_data.csv')
df_excluded = df_loaded.iloc[:-1, :-1]

print("DataFrame excluding the last row and column:")
print(df_excluded)

Image data has been saved to 'image_pixel_data.csv'.
DataFrame excluding the last row and column:
           0    1
0         31   32
1        255   31
2         32  255
3         32   32
4         31   32
...      ...  ...
2764794   43  255
2764795   34   42
2764796   31   35
2764797  255   30
2764798   42  255

[2764799 rows x 2 columns]

In [113]:
import pandas as pd

dirty_data = {
    "Name" : ["A", "B", "C", "D", "E"],
    "Age" : [20, 15, 21, 7, 50],
    "Salary" : [15000, 20000, -15000, -10000, 21000],
}

df = pd.DataFrame(dirty_data)
print(f"original : \n{df}")

df = df.drop(df[(df.Age < 18) | (df.Salary < 0)].index)
print(f"\nafter removing : \n{df}")

original :
  Name  Age  Salary
0    A   20   15000
4    E   50   21000

after removing :
  Name  Age  Salary
0    A   20   15000
4    E   50   21000